.Notifications {
  border: 1px dashed #EC4848;
}
ul li[data-priority='default'] {
  color: blue;
}

ul li[data-priority='urgent'] {
  color: #EC4848;
}

.iconCls {
  position: absolute;
  top: 10px;
  background-color: transparent;
  border: none;
  right: 10px;
}