.App-header {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(6px + 1vmin);
  color: white;
  border-bottom: 2px solid #EC4848;
}

h1 {
  color: #EC4848;
  padding-right: 5px;
  margin-right: 5px;
}
