.App-logo {
  height: 30vmin;
}
  
.App-body {
  height: 20rem;
  text-align: left;
  padding: 30px;
  border-bottom: 2px solid #EC4848;
  font-size: calc(5px + 2vmin);
  font-family: 'Fira Sans', sans-serif;
}

